
<div id="activity" class="data-section">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<span class="section-heading">Your Activity</span>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Today <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" id="btn1">Today</a></li>
					<li><a href="" id="btn2">Yesterday</a></li>
					<li><a href="" id="btn3">Last week</a></li>
					<li><a href="" id="btn4">Last month</a></li>
					<li><a href="" id="btn4">All time</a></li>
					<li><a href="" id="btn4">Choose a period…</a></li>
				</ul>
			</div><!-- end .btn-group -->

		</div><!-- end col-xs-12 -->
	</div><!-- end .row -->

	<div class="row equal">
		<div id="docs" class="col-sm-12 col-md-4">
			<a href="" ng-model="collapseWord" ng-click="collapseWord=!collapseWord" class="link-no-color">
				<div class="data-card">
					<h3 class="data-card-heading"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Documents <span class="badge">4</span></h3> 

					<div class="data-card-collapse" ng-hide="!collapseWord">

						<div class="row service-row">

							<div class="col-xs-1"><img src="./images/files/doc.png" alt="Google Drive" class="service-logo"></div>
							<div class="col-xs-10">32 changes to the Word document "<a href="">project proposal.doc</a>"</div>

							<div class="clearfix"></div>
							<div class="col-xs-10 col-xs-offset-1">
								<div class="btn-group service-button-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Move <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn4">Choose where…</a></li>
											<li class="dropdown-header">Suggested folders</li>
											<li><a href="" id="btn4">Paris trip</a></li>
											<li class="dropdown-header">Recent folders</li>
											<li><a href="" id="btn1">Trip</a></li>
											<li><a href="" id="btn2">project files</a></li>
											<li><a href="" id="btn3">Drive home</a></li>

										</ul>
									</div><!-- end .btn-group -->

									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Trash <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn1">Now</a></li>
											<li><a href="" id="btn2">In 1 week</a></li>
											<li><a href="" id="btn3">In 1 month</a></li>
											<li><a href="" id="btn4">In 1 year</a></li>
											<li><a href="" id="btn4">When my Drive space is running low</a></li>
										</ul>
									</div><!-- end .btn-group -->

								</div>
							</div>
						</div><!-- end .row -->

						<div class="row service-row">

							<div class="col-xs-1"><img src="./images/files/pdf.png" alt="pdf doc" class="service-logo"></div>
							<div class="col-xs-10">Downloaded the pdf "<a href="">service-notice-7645.pdf</a>"</div>

							<div class="clearfix"></div>
							<div class="col-xs-10 col-xs-offset-1">
								<div class="btn-group service-button-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Move <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn4">Choose where…</a></li>
											<li class="dropdown-header">Suggested folders</li>
											<li><a href="" id="btn4">Paris trip</a></li>
											<li class="dropdown-header">Recent folders</li>
											<li><a href="" id="btn1">Trip</a></li>
											<li><a href="" id="btn2">project files</a></li>
											<li><a href="" id="btn3">Drive home</a></li>

										</ul>
									</div><!-- end .btn-group -->

									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Trash <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn1">Now</a></li>
											<li><a href="" id="btn2">In 1 week</a></li>
											<li><a href="" id="btn3">In 1 month</a></li>
											<li><a href="" id="btn4">In 1 year</a></li>
											<li><a href="" id="btn4">When my Drive space is running low</a></li>
										</ul>
									</div><!-- end .btn-group -->

								</div>
							</div>
						</div><!-- end .row -->

						<div class="row service-row">

							<div class="col-xs-1"><img src="./images/files/txt.png" alt="Text doc" class="service-logo"></div>
							<div class="col-xs-10">Created the text document "<a href="">meeting notes.txt</a>"</div>

							<div class="clearfix"></div>
							<div class="col-xs-10 col-xs-offset-1">
								<div class="btn-group service-button-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Move <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn4">Choose where…</a></li>
											<li class="dropdown-header">Suggested folders</li>
											<li><a href="" id="btn4">Paris trip</a></li>
											<li class="dropdown-header">Recent folders</li>
											<li><a href="" id="btn1">Trip</a></li>
											<li><a href="" id="btn2">project files</a></li>
											<li><a href="" id="btn3">Drive home</a></li>

										</ul>
									</div><!-- end .btn-group -->

									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Trash <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn1">Now</a></li>
											<li><a href="" id="btn2">In 1 week</a></li>
											<li><a href="" id="btn3">In 1 month</a></li>
											<li><a href="" id="btn4">In 1 year</a></li>
											<li><a href="" id="btn4">When my Drive space is running low</a></li>
										</ul>
									</div><!-- end .btn-group -->

								</div>
							</div>
						</div><!-- end .row -->

						<div class="row service-row">

							<div class="col-xs-1"><img src="./images/files/illustrator.png" alt="Illustrator" class="service-logo"></div>
							<div class="col-xs-10">5 changes to the Illustrator file "<a href="">floor plan</a>"</div>

							<div class="clearfix"></div>
							<div class="col-xs-10 col-xs-offset-1">
								<div class="btn-group service-button-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Move <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn4">Choose where…</a></li>
											<li class="dropdown-header">Suggested folders</li>
											<li><a href="" id="btn4">Paris trip</a></li>
											<li class="dropdown-header">Recent folders</li>
											<li><a href="" id="btn1">Trip</a></li>
											<li><a href="" id="btn2">project files</a></li>
											<li><a href="" id="btn3">Drive home</a></li>

										</ul>
									</div><!-- end .btn-group -->

									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Trash <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn1">Now</a></li>
											<li><a href="" id="btn2">In 1 week</a></li>
											<li><a href="" id="btn3">In 1 month</a></li>
											<li><a href="" id="btn4">In 1 year</a></li>
											<li><a href="" id="btn4">When my Drive space is running low</a></li>
										</ul>
									</div><!-- end .btn-group -->

								</div>
							</div>
						</div><!-- end .row -->
					</div>
				</div>
			</a>
		</div><!-- end #docs -->

		<div id="new-folders" class="col-sm-12 col-md-4">
			<a href="" ng-model="collapseNewFolders" ng-click="collapseNewFolders=!collapseNewFolders" class="link-no-color">
				<div class="data-card">
					<h3 class="data-card-heading"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Folders <span class="badge">2</span></h3> 

					<div class="data-card-collapse" ng-hide="!collapseNewFolders">

						<p>New folders created:</p>

						<div class="row service-row">
							<div class="col-xs-1"><img src="./images/drive.png" alt="Google Drive" class="service-logo"></div>
							<div class="col-xs-10"><a href="">Google Drive</a> › <a href=""><strong>receipts</strong></a></div>
							<div class="clearfix"></div>
							<div class="col-xs-10 col-xs-offset-1">
								<div class="btn-group service-button-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Move <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="">Desktop</a></li>
											<li><a href="">Pick where…</a></li>

										</ul>
									</div><!-- end .btn-group -->

									<button type="button" class="btn btn-default btn-xs">Rename</button>

									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Trash <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn1">Now</a></li>
											<li><a href="" id="btn2">In 1 week</a></li>
											<li><a href="" id="btn3">In 1 month</a></li>
											<li><a href="" id="btn4">When my space is running low</a></li>
											<li><a href="" id="btn4">Pick a time…</a></li>
										</ul>
									</div><!-- end .btn-group -->

								</div>
							</div>
						</div><!-- end .row -->
						<div class="row service-row">
							<div class="col-xs-1"><img src="./images/finder.png" alt="Laptop" class="service-logo"></div>
							<div class="col-xs-10">Laptop › <a href="">Documents</a> › <a href="">Projects</a> › <a href=""><strong>Community event june 2019</strong></a></div>
							<div class="clearfix"></div>
							<div class="col-xs-10 col-xs-offset-1">
								<div class="btn-group service-button-group" role="group" aria-label="...">
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Move <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="">Desktop</a></li>
											<li><a href="">Pick where…</a></li>

										</ul>
									</div><!-- end .btn-group -->

									<button type="button" class="btn btn-default btn-xs">Rename</button>

									<div class="btn-group">
										<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
											Trash <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" id="btn1">Now</a></li>
											<li><a href="" id="btn2">In 1 week</a></li>
											<li><a href="" id="btn3">In 1 month</a></li>
											<li><a href="" id="btn4">When my space is running low</a></li>
											<li><a href="" id="btn4">Pick a time…</a></li>
										</ul>
									</div><!-- end .btn-group -->

								</div>
							</div>
						</div><!-- end .row -->


					</div>
				</div>
			</a>
		</div><!-- end #new-folders -->

		<div id="emails" class="col-sm-12 col-md-4">
			<a href="" ng-model="collapseEmails" ng-click="collapseEmails=!collapseEmails" class="link-no-color">
				<div class="data-card">
					<h3 class="data-card-heading">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Emails <span class="badge">112</span></h3> 

						<div class="data-card-collapse" ng-hide="!collapseEmails">
							<ul>
								<li><a href="">75 emails</a> on Gmail</li>
								<li><a href="">35 emails</a> on Outlook</li>
								<li><a href="">2 emails</a> on local inbox</li>
							</ul>
						</div>
					</div>
				</a>
			</div><!-- end #emails -->

			<div id="messages" class="col-sm-12 col-md-4">
				<a href="" ng-model="collapseMsg" ng-click="collapseMsg=!collapseMsg" class="link-no-color">
					<div class="data-card">
						<h3 class="data-card-heading"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Messages <span class="badge">17</span></h3> 

						<div class="data-card-collapse" ng-hide="!collapseMsg">
							<ul>
								<li><a href="">12 conversations</a> on <strong>WhatsApp</strong>, containing <a href="">3 links</a>, <a href="">5 photos</a>, <a href="">1 video</a></li>
								<li><a href="">5 conversations</a> on <strong>Messenger</strong>, containing <a href="">3 photos</a></li>
							</ul>
						</div>
					</div>
				</a>
			</div><!-- end #messages -->

			<div id="photos" class="col-sm-12 col-md-4">
				<a href="" ng-model="collapsePhotos" ng-click="collapsePhotos=!collapsePhotos" class="link-no-color">
					<div class="data-card">
						<h3 class="data-card-heading"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Photos <span class="badge">24</span></h3> 

						<div class="data-card-collapse" ng-hide="!collapsePhotos">

							<p>New photos:</p>

							<div class="service-row">
								<img class="img-thumbnail" src="./images/photos/photo-collage.jpg" alt="photos">
								<a href="">see all new 24 photos</a>
							</div>
							<div class="btn-group service-button-group" role="group" aria-label="...">
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
										Move <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="" id="btn4">Choose where…</a></li>
										<li class="dropdown-header">Suggested folders</li>
										<li><a href="" id="btn4">Paris trip</a></li>
										<li class="dropdown-header">Recent folders</li>
										<li><a href="" id="btn1">Trip</a></li>
										<li><a href="" id="btn2">project files</a></li>
										<li><a href="" id="btn3">Drive home</a></li>

									</ul>
								</div><!-- end .btn-group -->

								<div class="btn-group">
									<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
										Trash <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="" id="btn1">Now</a></li>
										<li><a href="" id="btn2">In 1 week</a></li>
										<li><a href="" id="btn3">In 1 month</a></li>
										<li><a href="" id="btn4">In 1 year</a></li>
										<li><a href="" id="btn4">When my Drive space is running low</a></li>
									</ul>
								</div><!-- end .btn-group -->
							</div>

						</div>
					</div>
				</a>
			</div><!-- end #photos -->

			<div id="screenshots" class="col-sm-12 col-md-4">
				<a href="" ng-model="collapseShots" ng-click="collapseShots=!collapseShots" class="link-no-color">
					<div class="data-card">
						<h3 class="data-card-heading"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Screenshots <span class="badge">5</span></h3> 

						<div class="data-card-collapse" ng-hide="!collapseShots">
							<p>New screenshots taken:</p>
							<div class="row service-row">
								<div class="col-xs-4">
									<a href=""><img src="./images/screenshots/screen-1.png" class="img-thumbnail" alt=""></a>
								</div>
								<div class="col-xs-4">
									<a href=""><img src="./images/screenshots/screen-2.png" class="img-thumbnail" alt=""></a>
								</div>
								<div class="col-xs-4">
									<a href=""><img src="./images/screenshots/screen-3.png" class="img-thumbnail" alt=""></a>
								</div>
								<div class="col-xs-4">
									<a href=""><img src="./images/screenshots/screen-4.png" class="img-thumbnail" alt=""></a>
								</div>
								<div class="col-xs-4">
									<a href=""><img src="./images/screenshots/screen-5.png" class="img-thumbnail" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div><!-- end #screenshots -->

			<div id="new-apps" class="col-sm-12 col-md-4">
				<a href="" ng-model="collapseNewApps" ng-click="collapseNewApps=!collapseNewApps" class="link-no-color">
					<div class="data-card">
						<h3 class="data-card-heading"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Applications <span class="badge">2</span></h3> 

						<div class="data-card-collapse" ng-hide="!collapseNewApps">

							

							<div class="row service-row">
								<div class="col-xs-1"><img src="./images/airbnb.png" alt="Airbnb" class="service-logo"></div>
								<div class="col-xs-10"><a href=""></a><strong>Airbnb</strong> installed on your phone</div>
								<div class="clearfix"></div>
								<div class="col-xs-10 col-xs-offset-1">
									<div class="btn-group service-button-group" role="group" aria-label="...">
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Uninstall <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn2-1">Now</a></li>
												<li><a href="" id="btn2-2">In 1 week</a></li>
												<li><a href="" id="btn2-3">In 1 month</a></li>
												<li><a href="" id="btn2-4">Pick a time…</a></li>
												<li><a href="" id="btn2-5">When my space is running low</a></li>

											</ul>
										</div><!-- end .btn-group -->

										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Delete temporary data <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Now</a></li>
												<li><a href="" id="btn2">Every week</a></li>
												<li><a href="" id="btn3">Every month</a></li>
												<li><a href="" id="btn4">When my space is running low</a></li>
												<li><a href="" id="btn4">Pick a limit…</a></li>
											</ul>
										</div><!-- end .btn-group -->

									</div>
								</div>
							</div><!-- end .row -->
							<div class="row service-row">
								<div class="col-xs-1"><img src="./images/qr.png" alt="QR Code" class="service-logo"></div>
								<div class="col-xs-10"><strong>QR Code Scanner+</strong> installed on your phone</div>
								<div class="clearfix"></div>
								<div class="col-xs-10 col-xs-offset-1">
									<div class="btn-group service-button-group" role="group" aria-label="...">
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Uninstall <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn2-1">Now</a></li>
												<li><a href="" id="btn2-2">In 1 week</a></li>
												<li><a href="" id="btn2-3">In 1 month</a></li>
												<li><a href="" id="btn2-4">Pick a time…</a></li>
												<li><a href="" id="btn2-5">When my space is running low</a></li>

											</ul>
										</div><!-- end .btn-group -->

										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Delete temporary data <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Now</a></li>
												<li><a href="" id="btn2">Every week</a></li>
												<li><a href="" id="btn3">Every month</a></li>
												<li><a href="" id="btn4">When my space is running low</a></li>
												<li><a href="" id="btn4">Pick a limit…</a></li>
											</ul>
										</div><!-- end .btn-group -->

									</div>
								</div>
							</div><!-- end .row -->

						</div><!-- end .data-card-collapse -->
					</div><!--  end .data-card -->
				</a>
			</div><!-- end #new-apps -->

		</div><!-- end .row -->

	</div><!-- end #activity -->


	<div id="shared-data" class="data-section">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<span class="section-heading">Shared Data</span>

					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Today <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="" id="btn1">Today</a></li>
							<li><a href="" id="btn2">Yesterday</a></li>
							<li><a href="" id="btn3">Last week</a></li>
							<li><a href="" id="btn4">Last month</a></li>
							<li><a href="" id="btn4">All time</a></li>
							<li><a href="" id="btn4">Choose a period…</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div><!-- end .row -->

		<div class="row">
			<div id="sarah" class="col-sm-12 col-md-4">
				<a href="" ng-model="collapseSarah" ng-click="collapseSarah=!collapseSarah" class="link-no-color">
					<div class="person-card">
						<h3 class="person-card-heading"><img src="./images/sarah.png" alt="Bob" class="avatar"> Sarah Markoff <small>(sarahm@outlook.com)</small> <span class="badge">14</span></h3> 

						<div class="person-card-collapse" ng-hide="!collapseSarah">
							<div class="row service-row">

								<div class="col-xs-1"><img src="./images/drive.png" alt="Google Drive" class="service-logo"></div>
								<div class="col-xs-10">Sarah shared 1 document on Google Drive: "<a href="">trip planning</a>"</div>

								<div class="clearfix"></div>
								<div class="col-xs-10 col-xs-offset-1">
									<div class="btn-group service-button-group" role="group" aria-label="...">
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Move <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn4">Choose where…</a></li>
												<li class="dropdown-header">Suggested folders</li>
												<li><a href="" id="btn4">Paris trip</a></li>
												<li class="dropdown-header">Recent folders</li>
												<li><a href="" id="btn1">Trip</a></li>
												<li><a href="" id="btn2">project files</a></li>
												<li><a href="" id="btn3">Drive home</a></li>

											</ul>
										</div><!-- end .btn-group -->

										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Trash <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Now</a></li>
												<li><a href="" id="btn2">In 1 week</a></li>
												<li><a href="" id="btn3">In 1 month</a></li>
												<li><a href="" id="btn4">In 1 year</a></li>
												<li><a href="" id="btn4">When my Drive space is running low</a></li>
											</ul>
										</div><!-- end .btn-group -->

									</div>
								</div>
							</div><!-- end .row -->

							<div class="row service-row">
								<div class="col-xs-1"><img src="./images/gmail.png" alt="Gmail" class="service-logo"></div>
								<div class="col-xs-10"><a href="">12 emails</a> on Gmail
								</div>
								<div class="clearfix"></div>

								<div class="col-xs-10 col-xs-offset-1">
									<div class="btn-group service-button-group" role="group" aria-label="...">
										<button type="button" class="btn btn-default btn-xs">Archive</button>

										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Snooze <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Tomorrow</a></li>
												<li><a href="" id="btn2">Next week</a></li>
												<li><a href="" id="btn4">Pick a time</a></li>
											</ul>
										</div>

										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Trash <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Now</a></li>
												<li><a href="" id="btn2">In 1 week</a></li>
												<li><a href="" id="btn3">In 1 month</a></li>
												<li><a href="" id="btn4">In 1 year</a></li>
												<li><a href="" id="btn4">When my Gmail space is running low</a></li>
											</ul>
										</div><!-- end .btn-group -->


									</div>
								</div>
							</div><!-- end .row -->

							<div class="row service-row">
								<div class="col-xs-1"><img src="./images/slack.png" alt="Slack" class="service-logo"></div>
								<div class="col-xs-10">Sarah shared 1 pdf on Slack: "<a href="">paris-guide.pdf</a>"</div>
								<div class="clearfix"></div>

								<div class="col-xs-10 col-xs-offset-1">
									<div class="btn-group service-button-group" role="group" aria-label="...">

										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Remind me <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Tomorrow</a></li>
												<li><a href="" id="btn2">Next week</a></li>
												<li><a href="" id="btn4">Pick a time…</a></li>
											</ul>
										</div>



										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Download <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn4">Choose where…</a></li>
												<li class="dropdown-header">Suggested folders</li>
												<li><a href="" id="btn4">Paris trip</a></li>
												<li class="dropdown-header">Recent folders</li>
												<li><a href="" id="btn1">Desktop</a></li>							
											</ul>
										</div><!-- end .btn-group -->  
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												Delete <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" id="btn1">Now</a></li>
												<li><a href="" id="btn2">In 1 week</a></li>
												<li><a href="" id="btn3">In 1 month</a></li>
												<li><a href="" id="btn4">In 1 year</a></li>
												<li><a href="" id="btn4">When my Slack space is running low</a></li>
											</ul>
										</div><!-- end .btn-group -->
									</div>
								</div>
							</div><!-- end .row -->
						</div><!-- end .person-card -->
					</a>
				</div>
			</div><!-- end #sarah -->

			<div id="bob" class="col-sm-12 col-md-4">
				<a href="" ng-model="collapseBob" ng-click="collapseBob=!collapseBob" class="link-no-color">
					<div class="person-card">
						<h3 class="person-card-heading"><img src="./images/bob.png" alt="Bob" class="avatar"> Bob <small>(bob90@gmail.com)</small> <span class="badge">2</span></h3> 

						<div class="person-card-collapse" ng-hide="!collapseBob">
							<div class="row service-row">
								<div class="col-xs-1"><img src="./images/dropbox.png" alt="Dropbox" class="service-logo"></div>
								<div class="col-xs-10">Bob shared the folder "<a href="">project photos</a>" on Dropbox and added 3 photos</div>
								<div class="clearfix"></div>
								<div class="col-xs-10 col-xs-offset-1">
									<div class="btn-group service-button-group" role="group" aria-label="...">
										<button type="button" class="btn btn-default btn-xs">Add to your Dropbox</button></div>
									</div>
								</div><!-- end .row -->

								<div class="row service-row">
									<div class="col-xs-1"><img src="./images/dropbox.png" alt="Dropbox" class="service-logo"></div>
									<div class="col-xs-10">You sent a Dropbox link to the document "<a href="">project-proposal-v1.doc</a>"</div>
									<div class="clearfix"></div>
									<div class="col-xs-10 col-xs-offset-1">
										<div class="btn-group service-button-group" role="group" aria-label="...">
											<div class="btn-group">
												<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
													Set an expiry date <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="" id="btn1">Tomorrow</a></li>
													<li><a href="" id="btn2">In 1 week</a></li>
													<li><a href="" id="btn3">In 1 month</a></li>
													<li><a href="" id="btn4">In 1 year</a></li>
													<li><a href="" id="btn4">Pick a time…</a></li>
												</ul>
											</div><!-- end .btn-group -->

										</div>
									</div>
								</div><!-- end .row -->

							</div><!-- end .person-card -->
						</a>
					</div>
				</div><!-- end #bob -->

			</div><!-- end .row -->
		</div><!-- end #shared-data -->




	</div>
